body {
    border: 0px;
    padding: 0px;
    margin: 0px;
  }
  
  div.autor {
    background-color: #090152;
    border: 0px;
    padding: 5px;
    margin: 0px;
  }
  
  .autor {
    text-align: end; 
    color: whitesmoke;
  }
  
  div.titlu {
    border: 0px;
    padding: 0px;
    height: auto;
    width: auto;
  }
  div.subtitlu {
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: auto;
    width: auto;
  }
  
  .titlu {
    padding: 20px;
    border: 0px;
    margin: 0px;
    color: whitesmoke;
    background-color: #03001c;
    text-align: center;
  }
  
  .subtitlu {
    padding: 20px;
    margin: 0px;
    color: #28d4fa;
    background-color: rgba(9, 93, 203, 0.604);
  }
  
  .text {
    padding: 20px;
    margin: 0%;
    color: #28d4fa;
    background-color: #001f3f;
  }
  